/* * {
    outline: 1px  dotted red;
} */
.App {
    width: 950px;
    padding: 10px;
    margin: 10px;
}
.compTitle {
    border: 1px solid black;
    margin: 0;
    text-align: center;
}

.componentBlock {
    height: auto;
    width: 950px;
    border: 1px solid black;
    margin: 10px;
}